* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #181818; 
    color: #f0f0f0; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    width: 90%;
    max-width: 1200px;
    gap: 20px; 
}

.card {
    background-color: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: #f0f0f0;
    width: 400px; 
    max-width: 100%;
    min-height: 500px; 
    position: relative;
}

.input-section h2, .output-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #f0f0f0;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 15px;
    background-color: #2c2c2c;
    color: #f0f0f0;
    resize: none; 
}

textarea::placeholder {
    color: #a0a0a0;
}

/* Options Section */
.options {
    margin-bottom: 15px;
}

.option-group {
    margin-bottom: 10px;
}

.option-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #f0f0f0;
}

.option-group input {
    padding: 8px;
    width: 100%;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #2c2c2c;
    color: #f0f0f0;
}

/* Buttons */
.button-group {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.btn-primary, .btn-secondary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
    margin-top: 110px;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #28a745;
}

.btn-secondary:disabled {
    background-color: #6c757d;
}

.btn-export {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.btn-export:disabled {
    background-color: #6c757d;
}

.btn-export:hover:not(:disabled) {
    background-color: #218838;
}

.output-section {
    width: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.qr-container {
    flex-grow: 1; 
    max-height: 400px; 
    overflow-y: auto; 
    border: 1px solid #333;
    padding: 10px;
    border-radius: 8px;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.qr-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #444;
}

.qr-item img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-left: 10px;
    border: 1px solid #444;
    padding: 5px;
    background-color: #1e1e1e;
}

.qr-item .qr-text {
    max-width: 70%; 
    word-wrap: break-word;
    font-size: 14px;
    color: #f0f0f0;
}

/* Custom Scrollbar */
.qr-container::-webkit-scrollbar {
    width: 10px;
}

.qr-container::-webkit-scrollbar-thumb {
    background-color: #444; 
    border-radius: 10px;
}

.qr-container::-webkit-scrollbar-track {
    background-color: #2c2c2c; 
    border-radius: 10px;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    
    .card, .output-section {
        width: 90%;
    }
}
